*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
   align-items: center;
}

.conatiner
{
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.container  h1{
color: black;
}

.conatiner form{
    display: flex;
    background-color: #ccc;
}

.conatiner form input{
    padding: 10px;
    border: 1px solid #ccc;
}

.conatiner form input:focus{
outline: none;
}

.conatiner .tasks{
margin-top: 10px;
}

.conatiner .tasks .task{
margin-bottom: 10px;
}