*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
 
}

.container
{
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    justify-content: center;
  
}

.container  h1{
color: black;
text-align: center;
}

.container form{
    display: flex;
     margin-left: 100px;
  
   
}

.container form input{
    padding: 10px;
    border: 1px solid #ccc;
}

.container form input:focus{
outline: none;
}

.container form button{
    background-color: #ffff;
    border: 1px solid #ccc;
    padding: 5px;
}

.container .tasks{
margin-top: 10px;
margin-left: 20px;
margin-bottom: 20px;
margin-right: 20px;
}

.container .tasks .task{
/* background-color: blue; */
display: flex;
justify-content: space-between; 
/* align-items: center;  Aligne les éléments sur la même ligne */

}

.container .tasks .task label{
 font-size: 1.5rem; 
 margin-left: 10px;
 /* margin-right: 50px; */

}

.container .tasks .task input{
  
}

input[type="checkbox"] {
    accent-color: green; /* La case cochée devient vert */
    cursor: pointer;
    transform: scale(1.5); /* Ajuste la taille (1.5x plus grand) */
}

/* par defaut la case a  cohé tedi style par defaut tea systeme d'exploitation */
/* input[type="checkbox"]:checked {
    appearance: none; /* Supprime le style natif */
    /* background-color: #4CAF50; Change la couleur de fond */
    /* border: 2px solid #4CAF50; */
/* } */ 

.container .tasks .task img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    cursor: pointer; /*changer le cursuer pour montrer qu"il est cliquable*/
}

