*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.conatiner
{
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.container  h1{
color: black;
}

